
<li class=" nav-item">
    <a href="/User/Index"><i class="la la-list"></i><span class="menu-title" data-i18n="nav.dash.main">Kullanıcı Listesi</span></a>
</li>
<li class=" nav-item">
    <a href="/User/Insert"><i class="la la-user-plus"></i><span class="menu-title" data-i18n="nav.dash.main">Kullanıcı Ekleme</span></a>
</li>