
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lisans Tarihi Doldu</title>
</head>
<body>
    <div style="text-align:center;margin-top:50px"> 
        <div><b>Lisans Süreniz Dolmuştur. Lütfen Firma İle İletişime Geçiniz.</b></div>
        <div>
            <h3>Yazılımer Teknoloji Telefon : (0212) 951 09 88</h3>
        </div>
    </div>
</body>
</html>
