
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section id="configuration">
    <div class="text-center mt-1">

        <!-- Floating button Regular with text -->
        <a href="/TY/index" class="btn btn-float btn-red"><span>TRENDYOL ÜRÜN TARAMA</span></a>
        <a href="/HB/index" class="btn btn-float btn-red"><span>HEPSİBURADA ÜRÜN TARAMA</span></a>
        <a href="/MHP/index" class="btn btn-float btn-purple"><span>MORHİPO ÜRÜN TARAMA</span></a>
        <a href="/N11/index" class="btn btn-float btn-success"><span>N11 ÜRÜN TARAMA</span></a>
        <a href="/GG/index" class="btn btn-float btn-warning"><span>GİTTİGİDİYOR ÜRÜN TARAMA</span></a>
        <a href="/PY/index" class="btn btn-float btn-pink"><span>TÜM PAZAR YERLERİ ÜRÜN TARAMA</span></a>

    </div>
</section>